* {
  font-family: 'Poppins', Arial, sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0 auto;
  padding: 0 15vw;
  width: 100%;
  background-color: #202026;
  color: #a4a5a6;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 2rem;
  background-color: #292929;
}

.header .foto {
  display: block;
  max-height: 320px;
  padding: 50px 0;
  border-radius: 20px;
  border-radius: 10px;
}

.header .header-title {
  text-align: left;
  width: 80%;
  padding: 50px 10px;
}

.header .header-title .h1 {
  font-size: 2em;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  margin: 30px 0 0 0;
  color: #eeb71e;
}

.header .header-title .h2 {
  font-size: 1.2rem;
  margin: 0;
}

.header .header-title .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 10px;
}

.header .header-title .contacts ul, .header .header-title .contacts li {
  list-style-type: none;
  padding: 0 10px 0 0;
}

.header .header-title .contacts::before {
  content: " ";
  height: 2px;
  width: 40vw;
  position: absolute;
  background-color: #6d6d6d;
}

.h3 {
  width: 25%;
  font-size: 1.2em;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #202026;
}

.main .about .title {
  width: 20vw;
}

.main .about .title .h3 {
  margin: 0;
  white-space: nowrap;
  color: #eeb71e;
}

.main .about .title .h4 {
  margin: 0;
  font-weight: 300;
  font-size: 1rem;
}

.main .about .main-text {
  width: 70vw;
}

.main .education {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #292929;
}

.main .education .h3 {
  width: 20vw;
}

.main .education .main-text {
  width: 70vw;
  color: #eeb71e;
}

.main .code {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main .code .h3 {
  width: 20vw;
  color: #eeb71e;
}

.main .code .code-text {
  width: 70vw;
}

.main .experience {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #202026;
}

.main .experience .h3 {
  display: block;
  width: 20vw;
  white-space: nowrap;
  color: #eeb71e;
}

.main .experience .main-text {
  padding: 10px 0 0 0;
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .experience .main-text .list-project {
  list-style-type: none;
  padding: 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.main .experience .main-text .list-project .project {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  width: 30%;
}

.main .experience .main-text .list-project .project .project-link-shelter {
  position: relative;
  display: block;
  width: 20vw;
}

.main .experience .main-text .list-project .project .project-link-shelter img {
  position: relative;
  border-radius: 20px;
  width: 20vw;
}

.main .experience .main-text .list-project .project .project-link:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-box-shadow: #6d6d6d;
          box-shadow: #6d6d6d;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.main .experience .main-text .list-project .project .project-title {
  text-align: center;
}

.main .experience .main-text .list-project .project .project-link-keyboard {
  -ms-flex-item-align: left;
      -ms-grid-row-align: left;
      align-self: left;
  -ms-grid-column-align: left;
      justify-self: left;
  position: relative;
  display: block;
  width: 20vw;
}

.main .experience .main-text .list-project .project .project-link-keyboard img {
  position: relative;
  border-radius: 20px;
  width: 20vw;
}

.main .experience .main-text .list-project .project .project-title {
  margin: 0 0 1rem 0;
}

.main .skills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #292929;
}

.main .skills .h3 {
  width: 20vw;
}

.main .skills .main-skills {
  list-style-type: none;
  width: 70vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 0;
}

.main .skills .main-skills .skills-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .skills .main-skills .skills-item .skills-value {
  margin: 0;
}

.main .skills .main-skills .skills-item .scale {
  height: 0.5rem;
  width: 90%;
}

.main .skills .main-skills .skills-item .scale-html {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #eeb71e), color-stop(80%, #6d6d6d));
  background: linear-gradient(90deg, #eeb71e 0 80%, #6d6d6d 80% 100%);
}

.main .skills .main-skills .skills-item .scale-css {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #eeb71e), color-stop(70%, #6d6d6d));
  background: linear-gradient(90deg, #eeb71e 0 70%, #6d6d6d 70% 100%);
}

.main .skills .main-skills .skills-item .scale-js {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #eeb71e), color-stop(35%, #6d6d6d));
  background: linear-gradient(90deg, #eeb71e 0 35%, #6d6d6d 35% 100%);
}

.main .skills .main-skills .skills-item .scale-node {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #eeb71e), color-stop(5%, #6d6d6d));
  background: linear-gradient(90deg, #eeb71e 0 5%, #6d6d6d 5% 100%);
}

.main .skills .main-skills .skills-item .scale-git {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #eeb71e), color-stop(40%, #6d6d6d));
  background: linear-gradient(90deg, #eeb71e 0 40%, #6d6d6d 40% 100%);
}

.main .skills .main-skills .skills-item .scale-sass {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #eeb71e), color-stop(70%, #6d6d6d));
  background: linear-gradient(90deg, #eeb71e 0 70%, #6d6d6d 70% 100%);
}

.main .skills .main-skills .skills-item .scale-webpack {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #eeb71e), color-stop(30%, #6d6d6d));
  background: linear-gradient(90deg, #eeb71e 0 30%, #6d6d6d 30% 100%);
}

.main .skills .main-skills .skills-item .scale-premier {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #eeb71e), color-stop(50%, #6d6d6d));
  background: linear-gradient(90deg, #eeb71e 0 50%, #6d6d6d 50% 100%);
}

.main .skills .main-skills .skills-item .scale-photoshop {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #eeb71e), color-stop(40%, #6d6d6d));
  background: linear-gradient(90deg, #eeb71e 0 40%, #6d6d6d 40% 100%);
}

.main .skills .main-skills .skills-item .scale-autocad {
  background: -webkit-gradient(linear, left top, right top, color-stop(0, #eeb71e), color-stop(50%, #6d6d6d));
  background: linear-gradient(90deg, #eeb71e 0 50%, #6d6d6d 50% 100%);
}

.main .language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #202026;
}

.main .language .h3 {
  width: 20vw;
}

.main .language .main-text {
  width: 70vw;
  list-style-type: none;
  padding: 0;
  color: #eeb71e;
}

.introduction {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.introduction .h3 {
  width: 15vw;
  color: #eeb71e;
}

.introduction .video {
  margin: 0 auto;
  border-radius: 20px;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #292929;
}

.footer .footer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  list-style-type: none;
  gap: 1rem;
}

.footer .footer-link .footer-item .footer-item-link {
  height: 3rem;
  width: 30px;
}

.footer .footer-link .footer-item .footer-item-link--fb {
  display: block;
  height: 3rem;
  width: 3rem;
  background-image: url(../image/fb.svg);
  background-size: cover;
}

.footer .footer-link .footer-item .footer-item-link--ig {
  display: block;
  height: 3rem;
  width: 3rem;
  background-image: url(../image/ig.svg);
  background-size: cover;
}

.footer .footer-link .footer-item .footer-item-link--rsschool {
  display: block;
  height: 3rem;
  width: 6rem;
  background-image: url(../image/rsschool.svg);
  background-size: cover;
  border-radius: 10px;
}

.footer .footer-link .footer-item .footer-item-link--github {
  display: block;
  height: 3rem;
  width: 3rem;
  background-image: url(../image/github.svg);
  background-size: cover;
}

.footer .footer-h4 {
  margin: 0 0 1rem 0;
}
/*# sourceMappingURL=style.css.map */